<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap --><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/employee/css/bootstrap.min.css') }}">
    <!-- steal fancy pancy genius theme -->
    <link rel="stylesheet" href="//atrato.cc/bootstrap/css/style.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/employee/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/employee/js/respond.min.js') }}"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div id="content" class="col-lg-10 col-sm-11 full">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('bundles/employee/js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/employee/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/employee/js/ich.js') }}"></script>
{% block js %}{% endblock %}

</body>
</html>